<div id="signup">
<div id="footer-form">
 <form action="http://manage.kmail-lists.com/subscriptions/subscribe" method="GET" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<input type="hidden" name="g" value="bX8NuN" />

<input value="" name="email" class="email" id="mce-EMAIL" placeholder="YOUREAWESOME@SHOPJEEN.COM" required="" type="email">
<input value="JOIN" id="subscribe" id="mc-embedded-subscribe" class="news button" type="submit">
</form> 
 
</div>
 

 <img src="{{ 'footer_mailing_list.png' | asset_url }}" margin-left="50px;"/>

</div>  

